/* -----タブレット向け---画面幅が768pxを下回った時に適用される----- */
@media screen and (max-width: 768px){ 
  .mainTitle{
    font-size: 1.2rem;
    letter-spacing: -3px;
  }
  #salonIcon{
    width: 10%;
  }
  #navPc{
    display: none;
  }
  #navArea{
    display: block;
    width: 0;
    height: 0;
  }
  
  /*---------- TOPメイン画像 ---------*/
  #subTitle{
    width: 30%;
    height: 10%;
    padding-top: 1.5rem;
    position: absolute;
    top: 7rem;
    right: 3%;
  }
  
  #subTitle h2{
    font-size: 0.7rem;
  }
  
  .large_text{
    font-size: 1rem;
  }
  /*---------------------------------*/

  /* ------------- concept ---------- */

  .content_ttl{
    font-size: 1.1rem;
    letter-spacing: -3px;
  }

  #salonTxt{
    font-size: 0.7rem;
  }


  .menu_content{
    width: 100%;
  }

  #effectItem{
    width: 80%;
    font-size: 80%;
  }

  #effectItem.fixed{
    width: 80%;
    font-size: 80%;
  }


  #therapistTxt1,
  #therapistTxt2,
  #therapistTxt3 p{
  font-size: 0.7rem;
  }

  /* ----------sns------------------- */
  #snsWrap p{
    font-size: 0.7rem;
  }

  #instagram h3,
  #facebook h3,
  #ameblo h3{
    font-size: 0.7rem;
  }
/* ----------access------------- */
  #accessContent p{
    font-size: 0.7rem;
  }

  /* ------------footer------------ */

  #footerContent{
    margin-top: 10%;
  }

  #footerSalonIcon{
    width: 7%;
    margin-bottom: -8%;
  }

  #footerNav{
    width: 36rem;
  }

  .footer_li{
    margin-right: 10px;
    margin-left: 10px;
  }

  .footer_sns_icon li{
    width: 2rem;
  }

  #copy{
    font-size: 0.5rem;
  }

}