#mainTitleMenu{
  font-size: 2rem;
    /* フォントを’ab-kirigirisu’に指定する */
    font-family: ab-kirigirisu, sans-serif;
    /* 文字間隔を狭める */
    letter-spacing: -8px;
    /* background-color: aqua; */
} 

#contact{
  width: 20rem;
  text-align: center;
  font-size: 1.2rem;
  margin: 3rem auto 3rem auto;
}

#contactWrap{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
#name,
#phone,
#email,
#message{
  background-color: #ece3d9;
}



#requesMenu{
  margin-top: 2rem;
}

legend{
  color: #D6BDA5;
  margin-top: 1.2rem;
  font-size: 1rem;
}

#menuFacial,
#menuBody,
#menuHead,
#menuOnline,
#menuBridal,
#menuMake{
  margin-right: 0.8rem;
  margin-left: 2rem;
}

#otherContacts{
  margin-top: 4rem;
}

#button{
  display: block;
  border-radius: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 4rem auto 10rem auto;
  background-color: #D6BDA5;
}
