/* -----タブレット向け---画面幅が768pxを下回った時に適用される----- */
@media screen and (max-width: 768px){ 
  #salonIcon{
    width: 10%;
  }
  #navPc{
    display: none;
  }
  #navArea{
    display: block;
    width: 0;
    height: 0;
  }
}